.card-bar-frame {
    -fx-background-color: rgba(0, 0, 0, 0.1); 
    -fx-padding: 5px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.player-label {
    -fx-font-family: "Rajdhani";
    -fx-font-size: 26px;
    -fx-fill: #dddddd;
    -fx-effect: dropshadow(gaussian, rgba(158, 75, 223, 0.8), 4, 0.3, 0, 1);
    -fx-text-alignment: center;
}

.defender-row {
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.goalkeeper-row {
    -fx-alignment: center;
    -fx-padding: 10px;
}

.field-card {
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 5, 5);
}

.field-card:hover {
    -fx-border-width: 0px;
}

.selected-card {
    -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 5, 5); /* Glowing Effect */
}
