/* Scene background */
.root {
    -fx-background-image: url("/images/data/frames/background4.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

/* ListView styling */
.custom-list-view {
    -fx-background-color: #9a6cb2;
    -fx-control-inner-background: #4c0074;
    -fx-cell-hover-color: #d0e0ff;
    -fx-text-fill: black;
}