
.root {
    -fx-background-image: url('/images/data/frames/background1.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-family: "Rajdhani-SemiBold";
    -fx-background-repeat: no-repeat;
}

HBox, VBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}


.button {
    -fx-font-size: 16px;
    -fx-padding: 8px 15px;
    -fx-pref-width: 200px;
    -fx-font-family: "Rajdhani-SemiBold";
    -fx-pref-height: 80px;
}

.title-label {
    -fx-font-size: 78px;
    -fx-text-fill: #FFD700;
    -fx-font-family: "Rajdhani-SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.3, 2, 2);
}
