.root {
    -fx-background-image: url('/images/data/frames/background1.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-family: "Rajdhani-SemiBold";
    -fx-background-repeat: no-repeat;
}

.title-label {
    -fx-font-size: 78px;
    -fx-text-fill: #FFD700;
    -fx-font-family: "Rajdhani-SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.3, 2, 2);
}
.logo-image {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.3, 0, 4);
}
.info-label {
    -fx-font-size: 32px;
    -fx-text-fill: #39FF14;
    -fx-font-family: "Rajdhani-Medium";
    -fx-effect: dropshadow(gaussian, #39FF14, 0.0, 0.8, 0, 0);
    -fx-padding: 0 10 10 0;
}
